.openIconContainer {
    padding-right: 50px;
    background: #212121;
}

.openIconContainer :global(.vtex-button) {
    height: 20px;
    width: 20px;
    background-color: transparent;
}

.cartIcon {
    height: 20px;
    width: 20px;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
}

.cartIcon :hover {
    height: 20px;
    width: 20px;
    color: #59ff00;
    align-items: center;
}


/* .cartIcon {
    height: 20px;
    width: 20px;
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
}

